<div class="navbar_component _w_full">
    <div class="logo_container _h_full">
        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_light_color_272x92dp.png" alt="Shopping fake logo">
    </div>
    <div class="view_cart_summary _h_full">
        <button (click)="openingShoppingCart()">
            <span class="cart_wording _flex_centered">
                <span class="cart_icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"><path fill="none" d="M0 0h24v24H0z"/><path fill="#020b1bc4" d="M4 16V4H2V2h3a1 1 0 0 1 1 1v12h12.438l2-8H8V5h13.72a1 1 0 0 1 .97 1.243l-2.5 10a1 1 0 0 1-.97.757H5a1 1 0 0 1-1-1zm2 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm12 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"/></svg>
                </span>
                <strong>{{ cartService.itemsInCart.length }}</strong>
            </span>
        </button>
    </div>
</div>